body {
    font-family: Arial, sans-serif;
    background-image: url("strength.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}



.container {
    width: 360px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(193, 177, 153);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}




input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}
